/* Google Fonts import [ Roboto ] */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Body styling */
body { padding: 0; margin: 0; font-family: 'Roboto', sans-serif; background-color: #f9f9f9;}
/* Global Box Sizing */
* { box-sizing: border-box; outline: none; }

/* Dark Container */
.dark-container {
    background-color: #151515;
}
/* Dark Grid */
.grid-dark {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 40px;
    margin: 0 21vw;
}
/* Text Area dark [ position ]*/
.text-area-dark {
    grid-column: 1/2;
    grid-row: 1/2;
}
/* Inputs Grid */
.inputs-grid-dark {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 20px;
}
/* Buttons Grid */
.buttons-grid-dark {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 20px;
}
/* Page Numbers Grid */
.page-nums-grid-dark {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-column: 1/2;
    grid-row: 5/6;
    padding-top: 20px;
    text-align: center;
}
/* Messages Grid */
.messages-grid-dark {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 6/7;
    padding-top: 20px;
}
/* Logo dark */
.text-area-dark img {
    width: 500px;
    margin-bottom: 40px;
}

/* ----------------------------------------------- Form Inputs Dark */

/* Text Area dark [ textarea ]*/
.text-area-dark textarea {
    width: 100%;
    height: 100px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #515151;
    background-color: #1b1b1b;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
    color: #f0f0f0;
    resize: none;
}
/* Text Area dark [ focus ] */
.text-area-dark textarea:focus {
    border: 1px solid #509ec9;
}
/* Text Area dark [ placeholder ]*/
.text-area-dark textarea::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;   
}

/* Email Input dark */
.email-input-dark input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #515151;
    background-color: #1b1b1b;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    color: #f0f0f0;
    font-size: 13px;
}
/* Email Input dark [ focus ] */
.email-input-dark input:focus {
    border: 1px solid #509ec9;
}
/* Email Input dark [ placeholder ]*/
.email-input-dark input::placeholder {
    color: #515151;
}

/* Text Input dark */
.text-input-dark input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #515151;
    background-color: #1b1b1b;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    color: #f0f0f0;
    font-size: 13px;
}
/* Text Input dark [ focus ] */
.text-input-dark input:focus {
    border: 1px solid #509ec9;
}
/* Text Input dark [ placeholder ]*/
.text-input-dark input::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}

/* Password Input dark */
.password-input-dark input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    border-radius: 3px;
    vertical-align: top;
    border: 1px solid #515151;
    background-color: #1b1b1b;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    color: #f0f0f0;
    font-size: 13px;
}
/* Password Input dark [ focus ] */
.password-input-dark input:focus {
    border: 1px solid #509ec9;
}
/* Password Input dark [ placeholder ]*/
.password-input-dark input::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}
/* Password strength Meter dark [ box ]*/
.meter-dark {
    width: 268px;
    background-color: #1b1b1b;
    height: 3px;
    transform: translateY(3px);
}
/* Password strength Meter dark [ bar ]*/
#passwordStrengthDark {
    height: 3px;
    display:block;
    border-radius: 2px;
    transition: 300ms;
}
/* Password strength Meter dark [ strength 0% ]*/
.strength0 {
    width: 0%;
}
/* Password strength Meter dark [ strength 20% ]*/
.strength1 {
    width: 20%;
    background-color: #CE2C2C;
}
/* Password strength Meter dark [ strength 40% ]*/
.strength2 {
    width: 40%;
    background-color: #CE2C2C;
}
/* Password strength Meter dark [ strength 60% ]*/
.strength3 {
    width: 60%;
    background-color: #E58220;
}
/* Password strength Meter dark [ strength 80% ]*/
.strength4 {
    background-color: #E58220;
    width: 80%;
}
/* Password strength Meter dark [ strength 100% ]*/
.strength5 {
    background-color: #6CC638;
    width: 100%;
}
/* Password Icon dark */
.password-icon-dark {
    background: url('../img/eyecon-dark.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 25px;
    transform: translate(235px, 5px);
    position: absolute;
    cursor: pointer;
}
/* Password Icon dark [ active ]*/
.password-icon-dark.active {
    background: url('../img/eyecon-active-dark.svg');
}

/* Search Input dark */
.search-input-dark input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #515151;
    background-color: #1b1b1b;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
    color: #f0f0f0;
}
/* Search Input dark [ focus ] */
.search-input-dark input:focus {
    border: 1px solid #509ec9;
}
/* Search Input dark [ placeholder ]*/
.search-input-dark input::placeholder {
    color: #515151;
}
/* Search Icon dark */
.search-button-dark {
    background: url('../img/search-icon-dark.svg');
    background-repeat: no-repeat;
    border: none;
    height: 18px;
    width: 25px;
    transform: translate(235px, 5px);
    position: absolute;
    cursor: pointer;
}

/* Select Dropdown dark */
.select-dropdown-dark select {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #515151;
    cursor: pointer;
    background: url(../img/drop-arrow.svg) no-repeat right center;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    background-color: #1b1b1b;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
}
/* Select Dropdown dark [ remove bg ] */
#select-dark {
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* Select Dropdown dark [ focus ] */
.select-dropdown-dark select:focus {
    border: 1px solid #509ec9;
}

/* Dissabled Input dark */
.disabled-input-dark input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    border-radius: 3px;
    border: 1px solid #1b1b1b;
    background-color: #515151;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-style: italic;
    font-size: 13px;
}
/* Dissabled Input dark [ placeholder ] */
.disabled-input-dark input::placeholder {
    color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------- BUTTONS DARK */

/* Submit Button Blue Border dark */
.submit-button-blue-border-dark input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #515151;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Blue Border dark [ hover ] */
.submit-button-blue-border-dark input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #61C5BA;
    color: #61C5BA;
    cursor: pointer;
}
/* Submit Button Blue Border dark [ active ] */
.submit-button-blue-border-dark input:active {
    background-color: #1b1b1b;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Pink Border dark */
.submit-button-pink-border-dark input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #515151;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Pink Border dark [ hover ] */
.submit-button-pink-border-dark input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #EE3078;
    color: #EE3078;
    cursor: pointer;
}
/* Submit Button Pink Border dark [ active ] */
.submit-button-pink-border-dark input:active {
    background-color: #1b1b1b;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Oragne Border dark */
.submit-button-orange-border-dark input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #515151;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Oragne Border dark [ hover ] */
.submit-button-orange-border-dark input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #F99D24;
    color: #F99D24;
    cursor: pointer;
}
/* Submit Button Oragne Border dark [ active ] */
.submit-button-orange-border-dark input:active {
    background-color: #1b1b1b;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Grey Border dark */
.submit-button-grey-border-dark input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #515151;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Grey Border dark [ hover ] */
.submit-button-grey-border-dark input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #969696;
    color: #969696;
    cursor: pointer;
}
/* Submit Button Grey Border dark [ active ] */
.submit-button-grey-border-dark input:active {
    background-color: #1b1b1b;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Blue Tint dark */
.submit-button-blue-tint-dark input {
    background: #61C5BA;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Blue Tint dark [ hover ] */
.submit-button-blue-tint-dark input:hover {
    filter: brightness(1.1);
}
/* Submit Button Blue Tint dark [ active ] */
.submit-button-blue-tint-dark input:active {
    filter: brightness(1.2);
}

/* Submit Button Pink Tint dark */
.submit-button-pink-tint-dark input {
    background: #EE3078;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Pink Tint dark [ hover ] */
.submit-button-pink-tint-dark input:hover {
    filter: brightness(1.1);
}
/* Submit Button Pink Tint dark [ active ] */
.submit-button-pink-tint-dark input:active {
    filter: brightness(1.2);
}

/* Submit Button Orange Tint dark */
.submit-button-orange-tint-dark input {
    background: #F99D24;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Orange Tint dark [ hover ] */
.submit-button-orange-tint-dark input:hover {
    filter: brightness(1.1);
}
/* Submit Button Orange Tint dark [ active ] */
.submit-button-orange-tint-dark input:active {
    filter: brightness(1.2);
}

/* Submit Button Grey Tint dark */
.submit-button-grey-tint-dark input {
    background: #515151;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Grey Tint dark [ hover ] */
.submit-button-grey-tint-dark input:hover {
    filter: brightness(1.1);
}
/* Submit Button Grey Tint dark [ active ] */
.submit-button-grey-tint-dark input:active {
    filter: brightness(1.2);
}

/* ----------------------------------------------- PAGE NUMBERS DARK */

/* Page Numbers List */
.page-nums-grid-dark ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/* Page Numbers List Items */
.page-nums-grid-dark li {
    cursor: pointer;
    transition: 300ms;
}
/* Page Numbers List Items [ hover ]*/
.page-nums-grid-dark li:hover {
    filter: brightness(1.1);
}
/* Page Numbers List Items [ active ]*/
.page-nums-grid-dark li:active {
    filter: brightness(1.2);
}

/* Page Numbers Blue List Items */
.page-nums-blue li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #61C5BA;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Pink List Items */
.page-nums-pink li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #EE3078;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Orange List Items */
.page-nums-orange li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #F99D24;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Grey List Items */
.page-nums-grey li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #515151;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}


/* ----------------------------------------------- Message Boxes */

/* Information Message Box */
.info-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #509ec9;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Information Message Box Icon */
.info-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Information Message Box Paragraph */
.info-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Success Message Box */
.success-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #6CC638;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Success Message Box Icon */
.success-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Success Message Box Paragraph */
.success-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Warning Message Box */
.warning-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #E58220;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Warning Message Box Icon */
.warning-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Warning Message Box Paragraph */
.warning-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Error Message Box */
.error-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #CE2C2C;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Error Message Box Icon */
.error-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Error Message Box Paragraph */
.error-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}