/* Google Fonts import [ Roboto ] */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Body styling */
body { padding: 0; margin: 0; font-family: 'Roboto', sans-serif; background-color: #f9f9f9;}
/* Global Box Sizing */
* { box-sizing: border-box; outline: none; }

/* Light Container */
.light-container {
    background-color: #f0f0f0;
}
/* Light Grid */
.grid-light {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 40px;
    margin: 0 21vw;
}
/* Text Area Light [ position ]*/
.text-area-light {
    grid-column: 1/2;
    grid-row: 1/2;
}
/* Inputs Grid */
.inputs-grid-light {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 20px;
}
/* Buttons Grid */
.buttons-grid-light {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 20px;
}
/* Page Numbers Grid */
.page-nums-grid-light {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-column: 1/2;
    grid-row: 5/6;
    padding-top: 20px;
    text-align: center;
}
/* Messages Grid */
.messages-grid-light {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column: 1/2;
    grid-row: 6/7;
    padding-top: 20px;
}
/* Logo Light */
.text-area-light img {
    width: 500px;
    margin-bottom: 40px;
}

/* ----------------------------------------------- Form Inputs Light */

/* Text Area Light [ textarea ]*/
.text-area-light textarea {
    width: 100%;
    height: 100px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
    color: #303030;
    resize: none;
}
/* Text Area Light [ focus ] */
.text-area-light textarea:focus {
    border: 1px solid #509ec9;
}
/* Text Area Light [ placeholder ]*/
.text-area-light textarea::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;   
}

/* Email Input Light */
.email-input-light input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
}
/* Email Input Light [ focus ] */
.email-input-light input:focus {
    border: 1px solid #509ec9;
}
/* Email Input Light [ placeholder ]*/
.email-input-light input::placeholder {
    color: #515151;
}

/* Text Input Light */
.text-input-light input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
}
/* Text Input Light [ focus ] */
.text-input-light input:focus {
    border: 1px solid #509ec9;
}
/* Text Input Light [ placeholder ]*/
.text-input-light input::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}

/* Password Input Light */
.password-input-light input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    border-radius: 3px;
    vertical-align: top;
    border: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    
    font-size: 13px;
}
/* Password Input Light [ focus ] */
.password-input-light input:focus {
    border: 1px solid #509ec9;
}
/* Password Input Light [ placeholder ]*/
.password-input-light input::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}
/* Password strength Meter Light [ box ]*/
.meter-light {
    width: 268px;
    background-color: #E0E0E0;
    height: 3px;
    transform: translateY(3px);
}
/* Password strength Meter Light [ bar ]*/
#passwordStrengthLight {
    height: 3px;
    display:block;
    border-radius: 2px;
    transition: 300ms;
}
/* Password strength Meter Light [ strength 0% ]*/
.strength0 {
    width: 0%;
}
/* Password strength Meter Light [ strength 20% ]*/
.strength1 {
    width: 20%;
    background-color: #CE2C2C;
}
/* Password strength Meter Light [ strength 40% ]*/
.strength2 {
    width: 40%;
    background-color: #CE2C2C;
}
/* Password strength Meter Light [ strength 60% ]*/
.strength3 {
    width: 60%;
    background-color: #E58220;
}
/* Password strength Meter Light [ strength 80% ]*/
.strength4 {
    background-color: #E58220;
    width: 80%;
}
/* Password strength Meter Light [ strength 100% ]*/
.strength5 {
    background-color: #6CC638;
    width: 100%;
}
/* Password Icon Light */
.password-icon-light {
    background: url('../img/eyecon-light.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 25px;
    transform: translate(235px, 5px);
    position: absolute;
    cursor: pointer;
}
/* Password Icon Light [ active ]*/
.password-icon-light.active {
    background: url('../img/eyecon-active-light.svg');
}

/* Search Input Light */
.search-input-light input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
}
/* Search Input Light [ focus ] */
.search-input-light input:focus {
    border: 1px solid #509ec9;
}
/* Search Input Light [ placeholder ]*/
.search-input-light input::placeholder {
    color: #515151;
}
/* Search Icon Light */
.search-button-light {
    background: url('../img/search-icon-light.svg');
    background-repeat: no-repeat;
    border: none;
    height: 18px;
    width: 25px;
    transform: translate(235px, 5px);
    position: absolute;
    cursor: pointer;
}

/* Select Dropdown Light */
.select-dropdown-light select {
    width: 268px;
    padding: 5px 5px 5px 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    background: url(../img/drop-arrow.svg) no-repeat right center;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.02);
    background-color: #f9f9f9;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-size: 13px;
}
/* Select Dropdown Light [ remove bg ] */
#select-light {
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* Select Dropdown Light [ focus ] */
.select-dropdown-light select:focus {
    border: 1px solid #509ec9;
}

/* Dissabled Input Light */
.disabled-input-light input {
    width: 268px;
    padding: 5px 5px 5px 8px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5pt;
    font-style: italic;
    font-size: 13px;
}
/* Dissabled Input Light [ placeholder ] */
.disabled-input-light input::placeholder {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------- BUTTONS LIGHT */

/* Submit Button Blue Border Light */
.submit-button-blue-border-light input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Blue Border Light [ hover ] */
.submit-button-blue-border-light input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #61C5BA;
    color: #61C5BA;
    cursor: pointer;
}
/* Submit Button Blue Border Light [ active ] */
.submit-button-blue-border-light input:active {
    background-color: #f9f9f9;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Pink Border Light */
.submit-button-pink-border-light input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Pink Border Light [ hover ] */
.submit-button-pink-border-light input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #EE3078;
    color: #EE3078;
    cursor: pointer;
}
/* Submit Button Pink Border Light [ active ] */
.submit-button-pink-border-light input:active {
    background-color: #f9f9f9;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Oragne Border Light */
.submit-button-orange-border-light input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Oragne Border Light [ hover ] */
.submit-button-orange-border-light input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #F99D24;
    color: #F99D24;
    cursor: pointer;
}
/* Submit Button Oragne Border Light [ active ] */
.submit-button-orange-border-light input:active {
    background-color: #f9f9f9;
    box-shadow: none;
    border: 1px solid #509ec9;
    cursor: pointer;
}

/* Submit Button Grey Border Light */
.submit-button-grey-border-light input {
    background: none;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    color: #515151;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Grey Border Light [ hover ] */
.submit-button-grey-border-light input:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    border: 1px solid #515151;
    color: #515151;
    cursor: pointer;
}
/* Submit Button Grey Border Light [ active ] */
.submit-button-grey-border-light input:active {
    background-color: #f9f9f9;
    box-shadow: none;
    cursor: pointer;
}

/* Submit Button Blue Tint Light */
.submit-button-blue-tint-light input {
    background: #61C5BA;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Blue Tint Light [ hover ] */
.submit-button-blue-tint-light input:hover {
    filter: brightness(1.1);
}
/* Submit Button Blue Tint Light [ active ] */
.submit-button-blue-tint-light input:active {
    filter: brightness(1.2);
}

/* Submit Button Pink Tint Light */
.submit-button-pink-tint-light input {
    background: #EE3078;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Pink Tint Light [ hover ] */
.submit-button-pink-tint-light input:hover {
    filter: brightness(1.1);
}
/* Submit Button Pink Tint Light [ active ] */
.submit-button-pink-tint-light input:active {
    filter: brightness(1.2);
}

/* Submit Button Orange Tint Light */
.submit-button-orange-tint-light input {
    background: #F99D24;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Orange Tint Light [ hover ] */
.submit-button-orange-tint-light input:hover {
    filter: brightness(1.1);
}
/* Submit Button Orange Tint Light [ active ] */
.submit-button-orange-tint-light input:active {
    filter: brightness(1.2);
}

/* Submit Button Grey Tint Light */
.submit-button-grey-tint-light input {
    background: #515151;
    letter-spacing: 0.5pt;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
    color: #f5f5f5;
    cursor: pointer;
    transition: 300ms;
    -webkit-transition: 300ms;
}
/* Submit Button Grey Tint Light [ hover ] */
.submit-button-grey-tint-light input:hover {
    filter: brightness(1.1);
}
/* Submit Button Grey Tint Light [ active ] */
.submit-button-grey-tint-light input:active {
    filter: brightness(1.2);
}

/* ----------------------------------------------- PAGE NUMBERS LIGHT */

/* Page Numbers List */
.page-nums-grid-light ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/* Page Numbers List Items */
.page-nums-grid-light li {
    cursor: pointer;
    transition: 300ms;
}
/* Page Numbers List Items [ hover ]*/
.page-nums-grid-light li:hover {
    filter: brightness(1.1);
}
/* Page Numbers List Items [ active ]*/
.page-nums-grid-light li:active {
    filter: brightness(1.2);
}

/* Page Numbers Blue List Items */
.page-nums-blue li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #61C5BA;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Pink List Items */
.page-nums-pink li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #EE3078;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Orange List Items */
.page-nums-orange li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #F99D24;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}
/* Page Numbers Grey List Items */
.page-nums-grey li {
    display: inline;
    border-radius: 3px;
    color: #f5f5f5;
    background-color: #515151;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 0px;
}

/* ----------------------------------------------- Message Boxes */

/* Information Message Box */
.info-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #509ec9;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Information Message Box Icon */
.info-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Information Message Box Paragraph */
.info-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Success Message Box */
.success-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #6CC638;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Success Message Box Icon */
.success-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Success Message Box Paragraph */
.success-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Warning Message Box */
.warning-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #E58220;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Warning Message Box Icon */
.warning-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Warning Message Box Paragraph */
.warning-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}

/* Error Message Box */
.error-message-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #CE2C2C;
    box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 20px;
    
}
/* Error Message Box Icon */
.error-icon img {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* Error Message Box Paragraph */
.error-message-box p {
    line-height: 10px;
    font-style: bold;
    color: #f9f9f9;
}