:root {
	--shadow:rgba(0, 0, 0, 0.48);
}

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

body {
	--r:255;
	--g:255;
	--b:255;
	background-image:linear-gradient(
		rgb(
			var(--r),
			var(--g),
			120
		),
		rgb(
			125,
			120,
			var(--b)
		),
		rgb(
			75,
			var(--g),
			180
		)
	);
	color:#fff;
}

.background {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:-10;
}

.page {
	margin:10pt auto 20pt;
	padding:20pt;
	max-width:960px;
}

h1 {
	text-shadow:2pt 2pt 8px var(--shadow);
}

sc-tile {
	--x:0px;
	--y:0px;
	position:absolute;
	left:var(--x);
	top:var(--y);
	width:256px;
	height:282px;
	opacity:0.62;
}

sc-tile img {
	width:100%;
	filter:invert(100%) drop-shadow(2pt 2pt 8px var(--shadow));
}
